<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sadek.go4lunch">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".Go4LunchApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Go4Lunch">
        <activity
            android:name=".controllers.activities.RestaurantDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.activities.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Go4Lunch.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA_YyKXKc_yf1gJ6fJzmxoAT-rmGY9NkFA"/>

        <receiver android:name=".utils.DeleteChosenRestaurantReceiver"
            android:enabled="true"
            android:exported="true"/>
        <receiver android:name=".utils.DeleteAllRestaurantsReceiver"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>